<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="SoftwareInstaller.log"/>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="app1" value="winrar;/S;WinRAR" />
    <add key="app2" value="Acro;/sPB;acro" />
    <add key="app3" value="Skype;/SILENT;skype"/>
    <add key="app4" value="Firefox;/SILENT;firefox"/>
    <add key="app5" value="jdk;/qb;java se development"/>
    <add key="app6" value="npp;/S;notepad"/>
    <add key="app7" value="lync;/quiet /passive;Business"/>
    <add key="app8" value="anyconnect;/qb;cisco"/>
    <add key="app9" value="Apache;/S;Open"/>
    <add key="app10" value="Chrome;/qb;Chrome"/>
    <add key="app11" value="cpu-z;/SILENT;cpu"/>
    <add key="app12" value="tortoise;/qb;tortoise"/>
    <add key="app13" value="wps;/S;wps"/>
  </appSettings>
</configuration>